pkgbase = eks-node-viewer-bin
	pkgdesc = A tool to visualize dynamic node usage within an AWS EKS Kubernetes cluster
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/awslabs/eks-node-viewer
	arch = x86_64
	license = Apache
	depends = glibc
	source_x86_64 = eks-node-viewer-0.3.0-x86_64::https://github.com/awslabs/eks-node-viewer/releases/download/v0.3.0/eks-node-viewer_Linux_x86_64
	sha256sums_x86_64 = ec36a5070b03a21ba88e98d24f3cf98337fe90a89b0f430848433908164c8c0f

pkgname = eks-node-viewer-bin
