name: Renovate
on:
  schedule:
    - cron: "0 11 * * *"
  push:
    branches:
      - main
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v41.0.10
        with:
          configurationFile: config.json
          token: ${{ secrets.RENOVATE_TOKEN }}

